.sidebarContainer {
  border-radius: 8px;
  width: 12rem;
  display: flex;
  height: 90vh;
  flex-direction: column;
  background-color: #3b2c72;
  color: #d3bfff;
  justify-content: space-between;
}
.title {
  margin: 20px 16px 1px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.expand {
  position: relative;
  top: -26px;
  font-size: xxx-large;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s ease;
}

.expand.flipped {
  transform: scaleX(-1);
}

.boards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20rem;
}
.boardName {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 80%;
  height: 2rem;
  cursor: pointer;
}
.boardName:hover {
  border-radius: 6px;
  background-color: #4f3d92;
}
.addBoardBtn {
  margin: 20px;
  width: 9rem;
  background-color: #a88dc0;
  border: none;
  border-radius: 10px;
  height: 2.2rem;
  padding: 0 1rem;
  color: #e0d8f4;
  font-weight: 500;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}
.addBoardBtn:hover {
  background-color: #c5aee0;
  box-shadow: 0 0 8px rgba(198, 153, 255, 0.5);
  transform: scale(1.05);
}
